@media screen and (min-width: 1024px) {
    .page {
        display: grid;
        grid-template-columns: 93rem  ;
        grid-template-rows: 10rem 5rem 30rem ;
        grid-template-areas: "AllPage "
                        "Services Header cources";  
        }
        #serach {
            grid-column: 1 / 2;
            grid-row: 2/3;
            background-color: gainsboro;
            padding-left: 500px;
        }
        #services
        {
            grid-column: 1 / 2;
            grid-row: 1/2;
            background-color: gainsboro;
        }
        #ServicesNavgation
        {
            display: flex;
            flex-direction: row;
          gap: 1rem;
          list-style-type: none;
          justify-content: end;
    
        }
        #cources
        {
            grid-column: 1 / 2;
            grid-row: 3/4;
            background-color: gainsboro;
            padding-left: 500px;
    
    
        }
        #avaliableCource
        {
            padding-left: 30px;
        }
        #headerCourceTable
        {
            font-size: 20px;
        }
        .eleCourceTable
        {
            padding-right: 70px;
    
        }
    
}


@media screen and (max-width:767px) {
    .page {
        display: grid;
        grid-template-columns: 37rem  ;
        grid-template-rows: 10rem 5rem 30rem ;
        grid-template-areas: "AllPage "
                        "Services Header cources";  
        }
        #serach {
            grid-column: 1 / 2;
            grid-row: 2/3;
            background-color: gainsboro;
        }
        #services
        {
            grid-column: 1 / 2;
            grid-row: 1/2;
            background-color: gainsboro;
        }
        #ServicesNavgation
        {
            display: flex;
            flex-direction: row;
          gap: 1rem;
          list-style-type: none;
          justify-content: end;
    
        }
        #cources
        {
            grid-column: 1 / 2;
            grid-row: 3/4;
            background-color: gainsboro;
    
    
        }
        #avaliableCource
        {
            padding-left: 30px;
        }
        #headerCourceTable
        {
            font-size: 20px;
        }
        .eleCourceTable
        {
            padding-right: 70px;
    
        }
}

